<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>918diy-网站建设中...</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- FlatIcon CSS -->
    <link href="flaticon/flaticon.css" rel="stylesheet">
    <!-- FlatIcon CSS -->
    <link href="fontcustom/fontcustom.css" rel="stylesheet">

    <style>
        #modal-canvas{
            border: 1px solid #000;
            margin: 0 auto;
        }
        .modal-dialog{
            width: 835px;
        }
        /*.modal-content{*/
            /*width: 900px;*/
        /*}*/
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <h1>
            918diy正在建设中，<br>
            预计年前可正式上线接受大家的测试。<br>
            敬请耐心期待。
        </h1>
        谢谢您对918diy团队的关注。
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- diy -->


</body>

</html>
