/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.eot");
  src: url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.woff") format("woff"),
       url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.ttf") format("truetype"),
       url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_a9901a73dd2245d28bf44c2c54a51123.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-alarm55:before,
.icon-angel7:before,
.icon-bag40:before,
.icon-balloon9:before,
.icon-bell47:before,
.icon-bell48:before,
.icon-bell49:before,
.icon-bell50:before,
.icon-bible4:before,
.icon-cake17:before,
.icon-calendar167:before,
.icon-candle11:before,
.icon-candle12:before,
.icon-candle13:before,
.icon-candy18:before,
.icon-candy19:before,
.icon-candy20:before,
.icon-candy21:before,
.icon-champagne6:before,
.icon-chimney3:before,
.icon-christmas289:before,
.icon-christmas290:before,
.icon-christmas291:before,
.icon-christmas292:before,
.icon-christmas293:before,
.icon-coffee114:before,
.icon-cookie1:before,
.icon-document173:before,
.icon-donut7:before,
.icon-drum23:before,
.icon-eighth4:before,
.icon-fireplace3:before,
.icon-forest6:before,
.icon-gift67:before,
.icon-gift68:before,
.icon-gingerbread3:before,
.icon-glove7:before,
.icon-glove8:before,
.icon-grater1:before,
.icon-hat19:before,
.icon-heart302:before,
.icon-horseshoe20:before,
.icon-house159:before,
.icon-ice-skate:before,
.icon-leave1:before,
.icon-light93:before,
.icon-light94:before,
.icon-lollipop6:before,
.icon-ornament3:before,
.icon-ornament4:before,
.icon-ornament5:before,
.icon-pen71:before,
.icon-penguin4:before,
.icon-present20:before,
.icon-reindeer3:before,
.icon-reindeer4:before,
.icon-ribbon53:before,
.icon-ribbon54:before,
.icon-ribbon55:before,
.icon-rocking3:before,
.icon-sack1:before,
.icon-santa-claus:before,
.icon-shooting-star:before,
.icon-sign16:before,
.icon-sled:before,
.icon-snow-globe:before,
.icon-snowflake146:before,
.icon-snowflake147:before,
.icon-snowing10:before,
.icon-snowman18:before,
.icon-snowman19:before,
.icon-snowman20:before,
.icon-sparkler:before,
.icon-stamp12:before,
.icon-star179:before,
.icon-star180:before,
.icon-star181:before,
.icon-star182:before,
.icon-star183:before,
.icon-star184:before,
.icon-star185:before,
.icon-stocking1:before,
.icon-teddy:before,
.icon-thermometer57:before,
.icon-toast:before,
.icon-tree113:before,
.icon-tree114:before,
.icon-tree115:before,
.icon-turkey7:before,
.icon-twig:before,
.icon-wine63:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-alarm55:before { content: "\f100"; }
.icon-angel7:before { content: "\f101"; }
.icon-bag40:before { content: "\f102"; }
.icon-balloon9:before { content: "\f103"; }
.icon-bell47:before { content: "\f104"; }
.icon-bell48:before { content: "\f105"; }
.icon-bell49:before { content: "\f106"; }
.icon-bell50:before { content: "\f107"; }
.icon-bible4:before { content: "\f108"; }
.icon-cake17:before { content: "\f109"; }
.icon-calendar167:before { content: "\f10a"; }
.icon-candle11:before { content: "\f10b"; }
.icon-candle12:before { content: "\f10c"; }
.icon-candle13:before { content: "\f10d"; }
.icon-candy18:before { content: "\f10e"; }
.icon-candy19:before { content: "\f10f"; }
.icon-candy20:before { content: "\f110"; }
.icon-candy21:before { content: "\f111"; }
.icon-champagne6:before { content: "\f112"; }
.icon-chimney3:before { content: "\f113"; }
.icon-christmas289:before { content: "\f114"; }
.icon-christmas290:before { content: "\f115"; }
.icon-christmas291:before { content: "\f116"; }
.icon-christmas292:before { content: "\f117"; }
.icon-christmas293:before { content: "\f118"; }
.icon-coffee114:before { content: "\f119"; }
.icon-cookie1:before { content: "\f11a"; }
.icon-document173:before { content: "\f11b"; }
.icon-donut7:before { content: "\f11c"; }
.icon-drum23:before { content: "\f11d"; }
.icon-eighth4:before { content: "\f11e"; }
.icon-fireplace3:before { content: "\f11f"; }
.icon-forest6:before { content: "\f120"; }
.icon-gift67:before { content: "\f121"; }
.icon-gift68:before { content: "\f122"; }
.icon-gingerbread3:before { content: "\f123"; }
.icon-glove7:before { content: "\f124"; }
.icon-glove8:before { content: "\f125"; }
.icon-grater1:before { content: "\f126"; }
.icon-hat19:before { content: "\f127"; }
.icon-heart302:before { content: "\f128"; }
.icon-horseshoe20:before { content: "\f129"; }
.icon-house159:before { content: "\f12a"; }
.icon-ice-skate:before { content: "\f12b"; }
.icon-leave1:before { content: "\f12c"; }
.icon-light93:before { content: "\f12d"; }
.icon-light94:before { content: "\f12e"; }
.icon-lollipop6:before { content: "\f12f"; }
.icon-ornament3:before { content: "\f130"; }
.icon-ornament4:before { content: "\f131"; }
.icon-ornament5:before { content: "\f132"; }
.icon-pen71:before { content: "\f133"; }
.icon-penguin4:before { content: "\f134"; }
.icon-present20:before { content: "\f135"; }
.icon-reindeer3:before { content: "\f136"; }
.icon-reindeer4:before { content: "\f137"; }
.icon-ribbon53:before { content: "\f138"; }
.icon-ribbon54:before { content: "\f139"; }
.icon-ribbon55:before { content: "\f13a"; }
.icon-rocking3:before { content: "\f13b"; }
.icon-sack1:before { content: "\f13c"; }
.icon-santa-claus:before { content: "\f13d"; }
.icon-shooting-star:before { content: "\f13e"; }
.icon-sign16:before { content: "\f13f"; }
.icon-sled:before { content: "\f140"; }
.icon-snow-globe:before { content: "\f141"; }
.icon-snowflake146:before { content: "\f142"; }
.icon-snowflake147:before { content: "\f143"; }
.icon-snowing10:before { content: "\f144"; }
.icon-snowman18:before { content: "\f145"; }
.icon-snowman19:before { content: "\f146"; }
.icon-snowman20:before { content: "\f147"; }
.icon-sparkler:before { content: "\f148"; }
.icon-stamp12:before { content: "\f149"; }
.icon-star179:before { content: "\f14a"; }
.icon-star180:before { content: "\f14b"; }
.icon-star181:before { content: "\f14c"; }
.icon-star182:before { content: "\f14d"; }
.icon-star183:before { content: "\f14e"; }
.icon-star184:before { content: "\f14f"; }
.icon-star185:before { content: "\f150"; }
.icon-stocking1:before { content: "\f151"; }
.icon-teddy:before { content: "\f152"; }
.icon-thermometer57:before { content: "\f153"; }
.icon-toast:before { content: "\f154"; }
.icon-tree113:before { content: "\f155"; }
.icon-tree114:before { content: "\f156"; }
.icon-tree115:before { content: "\f157"; }
.icon-turkey7:before { content: "\f158"; }
.icon-twig:before { content: "\f159"; }
.icon-wine63:before { content: "\f15a"; }

.step {
  display: inline-block;
  line-height: 1;
  position: relative;
  width: 10%;
}

.step .letters,
.step i {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.step:hover .letters { opacity: 1; }
.step:hover i { opacity: .3; }

.letters {
  opacity: .3;
  position: absolute;
}

.characters-off .letters { display: none; }
.characters-off .step:hover i { opacity: 1; }


.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }